{% extends 'base.html' %}

{% block content %}

<nav class="navbar bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <style type="text/css">
                .navbar {
                    background: #5f2c82; 
                    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); 
                    background: linear-gradient(to right, #49a09d, #5f2c82);  
                }

                .color-me{
                    color:whitesmoke;
                }

            </style>
            <a class="navbar-brand mb-0 h1">
                <img src="https://img.icons8.com/external-soft-fill-juicy-fish/2x/external-task-business-management-soft-fill-soft-fill-juicy-fish-2.png" height="28" alt="" />
                <span class="color-me">{{user}}'s Tasks</span>
            </a>
        </div>
        <button type="button" class="btn btn-light btn-rounded"><a href="{% url 'todolist:logout' %}">Logout</a></button>
    </div>
</nav>

<br>
 

<div class="row row-cols-1 row-cols-md-4 g-0 text-center">
    {% for task in list_task %}
    <div class="col text-center">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{task.date}}</h6>
                    <h6 class="card-subtitle mb-2">Is Finished? {{task.is_finished}}</h6>
                    <p class="card-text">
                        <th style="text-align:center" class="font-weight-normal">{{task.description}}</th>
                    </p>
                    <a href="{% url 'todolist:update_task' task.id %}" class="btn btn-warning">Update Status</a>
                    <a href="{% url 'todolist:delete_task' task.id %}" class="btn btn-danger">Delete Task</a>
                </div>
            </div>
    </div>
    {% endfor %}
</div>

<br>

<div class="text-center">
    <button class="btn btn-dark" aria-label="Left Align">
        <img src="https://img.icons8.com/cotton/2x/plus--v3.png" width="24px" height="24px"/><a href="{% url 'todolist:create_task' %}" class="btn btn-dark"> New Task</a>
    </button>
</div>

{% endblock content %}
